$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url("https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg");
$background-opacity: 0.9;

// below based on nav elements in menu
$num-nav-links: 4;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

// add mixin for background image and overlay to remove logic from body
@mixin background{
    @if $show-home-image {
        &#bg-img{
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            // after is a pseudo-element that removes need for div with .overlay class
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }
    }
}