
// Menu button

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 40px;
    top: 40px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut;
    }

    // rotate triple menu lines into X 
     
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // use pseudoselector to rotate line 1, hide line 2, rotate line 3
            &:nth-child(1){
                background: red;
                transform: rotate(45deg) translate(5px, 5px);
            }
            &:nth-child(2){
                opacity: 0;
            }

            &:nth-child(3){
                background: red;
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}